In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/kairosds/verifiable-phrase-detection/data/ml_test_data.csv")

In [3]:
df.shape

(15000, 2)

In [4]:
df.head()

                                                text  claim
0          Le hace la primera pregunta Lucía Méndez?      0
1  También debo decir que nunca, nunca se se habl...      0
2  Y ahora lo que estamos viendo efectivamente es...      0
3  Por ejemplo el secretario de Defensa norteamer...      0
4  Y en Radio y Televisión Española afortunadamen...      0